.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem 2rem;
}

.logo_box {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.button_box {
  display: flex;
  gap: 1rem;
}
