.wrapper {
  width: 25rem;
  margin: 0 auto;
}

.login-form {
  border: solid 1px #d9d9d9;
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 4rem auto 0;
  display: grid;
  gap: 3rem;
  box-shadow:
    0px 0px 0px 1px #d1d9e080,
    0px 6px 12px -3px #25292e0a,
    0px 6px 18px 0px #25292e1f;
}

.login-form__title {
  text-align: center;
}

.login-form__container {
  display: grid;
  gap: 2rem;
}

.login-form__field {
  position: relative;
}

.login-form__input {
  border: solid 1px #e3e7ea;
  border-radius: 0.25rem;
  background-color: #f6f8fa;
  box-shadow: 0 1px 1px 0 #171a1f10;
  padding: 0.75rem;
  width: 100%;
}

.login-form__button {
  font-weight: bold;
  color: var(--text-0);
  background-color: var(--background-2);
  border: solid 1px var(--border-1);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    color: var(--text-2);
    background-color: var(--background-0);
  }
}

.login-form__text {
  text-align: right;
  margin-top: 1rem;
}

.login-form__link {
  color: #0969da;

  &:hover {
    text-decoration: underline;
  }
}
