.create-form__section {
  padding: 1.5rem 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 0.25rem;
}

.create-form__section-margin {
  margin-bottom: 1rem;
}

.create-form__field {
  display: grid;
  gap: 1rem;
}

.create-form__field--title {
  border: solid 1px #d9d9d9;
  padding: 1rem;
}

.create-form__field-required {
  color: #e9606d;
  font-weight: normal;
}

.create-form__field-description {
  font-size: 0.875rem;
}

.create-form__input {
  border: solid 1px #d9d9d9;
  border-radius: 0.25rem;
  padding: 0.75rem;
  width: 100%;
  letter-spacing: 0.5px;
}

.create-form__select {
  width: 10rem;
}

.create-form__buttons {
  display: flex;
  justify-content: flex-end;
}
